In [1]:
import pandas as pd

In [2]:
import sqlalchemy

In [3]:
import psycopg2

In [4]:
import requests, os, sys

In [8]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
resp = requests.get(url)

In [9]:
if resp.status_code == 200:
    with open(os.path.basename(url), "wb") as fhand:
        fhand.write(resp.content)
    print("file downloaded")
else:
    print("unsuccessful get request ... status code =",resp.status_code)

file downloaded

In [10]:
df = pd.read_csv(os.path.basename(url), compression='gzip', chunksize=100000)

In [11]:
eng = sqlalchemy.engine.create_engine("postgresql://hwk1_user:hwk1_password@172.18.0.2:5432/hwk1_db")

In [12]:
tbl_name = os.path.basename(url).split(".")[0]

In [13]:
# Dropping Table
with eng.begin() as conn:
    conn.execute(sqlalchemy.text(f'DROP TABLE IF EXISTS "{tbl_name}"'))
    print("succesful")

succesful

In [14]:
i=0
tbl_name = os.path.basename(url).split(".")[0]

for df_chunk in df:
    df_chunk["lpep_pickup_datetime"] = pd.to_datetime(df_chunk["lpep_pickup_datetime"])
    df_chunk["lpep_dropoff_datetime"] = pd.to_datetime(df_chunk["lpep_dropoff_datetime"])
    i+=len(df_chunk)
    df_chunk.to_sql(name=tbl_name, con=eng, if_exists='append', index=False)
    print(f"{i} records appended so far")

100000 records appended so far
200000 records appended so far
300000 records appended so far

/tmp/ipykernel_3959/2715984274.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for df_chunk in df:

400000 records appended so far
449063 records appended so far

In [44]:
# ### Generating DDL for SQL Schema based on a dataframe ###
# # Generate the SQL schema
# create_table_sql = pd.io.sql.get_schema(df, "test", con=eng)

# # Handling raw text
# sql_statement = sqlalchemy.text(create_table_sql)

# # Begin transaction block and go crazy with it.
# with eng.begin() as conn:
#     conn.execute(sql_statement)

In [39]:
### Batch upload the data
df